%li#colektivo.center
  .title
    %h3 Colektivo
    %span.role
      UI Prototype
      %em &amp;
      Integration
      %em &amp;
      Javascript
  .content
    %a{:href => "/images/full_colektivo.png", :rel => "piece"}
      = img "thumb_colektivo.png", :alt => "Colektivo"