%li#ekovia
  .title
    %h3 Ékovia
    %span.role
      Design
      %em &amp;
      Coding
      %em &amp;
      Server Admin
  .content
    %a{:href => "/images/full_ekovia.png", :rel => "piece"}
      = img "thumb_ekovia.png", :alt => "Ékovia"