%li#iwebhub
  .title
    %h3 iWeb Hub
    %span.role
      UI Design
  .content
    %a{:href => "/images/full_iwebhub.png", :rel => "piece", :title => "iWeb Hub"}
      = img "thumb_iwebhub.png", :alt => "iWeb Hub"