%li#iweb.center
  .title
    %h3 iWeb.com
    %span.role
      Web Design
      %em &amp;
      Front-end Prototype
  .content
    %a{:href => "/images/full_iweb.png", :rel => "piece"}
      = img "thumb_iweb.png", :alt => "iWeb.com"