%li#iweborder
  .title
    %h3 iWeb Order Process
    %span.role
      UI Design
      %em &amp;
      Front-end Prototype
  .content
    %a{:href => "/images/full_iweborder.png", :rel => "piece"}
      = img "thumb_iweborder.png", :alt => "iWeb Order Process"