%li#twinstang
  .title
    %h3 Twinstang
    %span.role
      UI Design
      %em &amp;
      Integration
      %em &amp;
      Javascript
  .content
    %a{:href => "/images/full_twinstang.png", :rel => "piece"}
      = img "thumb_twinstang.png", :alt => "Twinstang"